#divSummary {
	background-color: #F7F7F7;
	margin: 0;
}
.summary-tiles {
    .summary-tile {
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #73879C;
		text-align: center;
		margin: 20px;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            height: 65px;
        }
        &:first-child:before {
            border-left: 0;
        }
        .count {
            font-size: 40px;
            font-weight: bold;
        }
        .summary-tile-header {
            font-size: 20px;
        }
        &.summary-errors {
            i {
                color: red;
            }
        }
        &.summary-warnings {
            i {
                color: #caca0b;
            }
        }
    }
}