#divMainBody {
    margin: 0;
    padding: 0;
}

#navMain {
	margin-bottom: 0;
}

.navbar-status {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
	height: 51px;
    text-decoration: none;
	background: #F7F7F7;
	padding: 5px 15px;
    &:hover {
        text-decoration: none;
    }
    i {
        font-size: 40px;
    }

	span {
		@media screen and (max-width: 835px) {
			display: none;
		}
	}
}

.navbar-status-ok {
    @extend .navbar-status;
    .fa {
		color: green;
	}
}

.navbar-status-warn {
    @extend .navbar-status;
    .fa {
		color: #caca0b;
	}
}

.navbar-status-error {
    @extend .navbar-status;
    .fa {
		color: red;
	}
}

